@font-face {
  font-family: 'Poppins-eledc';
  src: url("../font/Poppins-Light.woff");
}

.wn-dclock-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
}

.wn-dclock-container * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins-eledc', sans-serif;
}

.wn-dclock-container .wn-dclock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wn-dclock-container .wn-dclock h2 {
  position: relative;
  display: block;
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.8em;
  width: 100%;
}

.wn-dclock-container .wn-dclock #time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.wn-dclock-container .wn-dclock #time .cell-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  height: 100%;
  position: relative;
  margin: 0 5px;
  background: #2196f3;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0004);
}

.wn-dclock-container .wn-dclock #time .cell-cont#scont {
  background: #ff006a;
}

.wn-dclock-container .wn-dclock #time .cell-cont .cell {
  padding: 0 1rem;
  text-align: center;
  color: #fff;
  font-size: 3em;
  vertical-align: middle;
}

.wn-dclock-container .wn-dclock #time .cell-cont .cell#hour span {
  background-color: transparent;
  padding: .5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
}

.wn-dclock-container .wn-dclock #time .cell-cont .cell#second {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation: seconds_anim 1s infinite;
          animation: seconds_anim 1s infinite;
}

.wn-dclock-container .wn-dclock #time .cell-cont #stag, .wn-dclock-container .wn-dclock #time .cell-cont #htag, .wn-dclock-container .wn-dclock #time .cell-cont #mtag {
  vertical-align: middle;
  width: 100%;
  background: #127fd6;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.wn-dclock-container .wn-dclock #time .cell-cont #stag {
  background: #cc0055;
}

@-webkit-keyframes seconds_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes seconds_anim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=eledClock_style.css.map */