@font-face {
  font-family: 'Poppins-eledc';
  src: url("../font/Poppins-Light.woff");
}

.ele-dclock-container {
  --hcont: #2196f3;
  --mcont: #2196f3;
  --scont: #ff006a;
  --htag: #127fd6;
  --mtag: #127fd6;
  --stag: #cc0055;
  --fillterBlur: 0;
  --showBackGround: hidden;
  --backgroundFigureBorderRadius: 100px;
  --fontColor: #fff;
  --titleColor: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ele-dclock-container * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins-eledc', sans-serif;
  font-weight: 200;
}

.ele-dclock-container .ele-dclock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}

.ele-dclock-container .ele-dclock .clock-title {
  position: relative;
  display: block;
  text-align: center;
  margin: 10px 0;
  font-weight: 200;
  color: var(--titleColor);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 20px;
  width: 100%;
  z-index: 10;
}

.ele-dclock-container .ele-dclock .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.ele-dclock-container .ele-dclock .time .cell-cont {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  height: 100%;
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 0px linear-gradient(transparent 30%, #0004);
  width: 120px;
  font-size: 50px;
}

.ele-dclock-container .ele-dclock .time .cell-cont.hcont {
  background: var(--hcont);
}

.ele-dclock-container .ele-dclock .time .cell-cont.mcont {
  background: var(--mcont);
}

.ele-dclock-container .ele-dclock .time .cell-cont.scont {
  background: var(--scont);
}

.ele-dclock-container .ele-dclock .time .cell-cont .htag {
  background: var(--htag);
}

.ele-dclock-container .ele-dclock .time .cell-cont .mtag {
  background: var(--mtag);
}

.ele-dclock-container .ele-dclock .time .cell-cont .stag {
  background: var(--stag);
}

.ele-dclock-container .ele-dclock .time .cell-cont .tag {
  color: var(--fontColor);
  padding: 5px 0;
  font-size: 14px;
}

.ele-dclock-container .ele-dclock .time .cell-cont .cell {
  padding: 5px 0;
  text-align: center;
  color: var(--fontColor);
  vertical-align: middle;
}

.ele-dclock-container .ele-dclock .time .cell-cont .cell.hour span {
  background-color: transparent;
  padding: .5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
}

.ele-dclock-container .ele-dclock .time .cell-cont .stag, .ele-dclock-container .ele-dclock .time .cell-cont .htag, .ele-dclock-container .ele-dclock .time .cell-cont .mtag {
  vertical-align: middle;
  width: 100%;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.ele-dclock-container .ele-dclock .time .cell-cont .am-tag {
  position: absolute;
  right: 10px;
  top: 0px;
  color: var(--fontColor);
  font-size: 14px;
}

.ele-dclock-container .ele-dclock.glass-style-preset .clock-title {
  color: var(--titleColor);
}

.ele-dclock-container .ele-dclock.glass-style-preset .time .cell-cont {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.ele-dclock-container .ele-dclock.glass-style-preset .time .cell-cont * {
  font-weight: inherit;
  font-family: inherit;
}

.ele-dclock-container .ele-dclock.glass-style-preset .time .cell-cont .stag, .ele-dclock-container .ele-dclock.glass-style-preset .time .cell-cont .htag, .ele-dclock-container .ele-dclock.glass-style-preset .time .cell-cont .mtag {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.ele-dclock-container .ele-dclock.light-style-preset .clock-title {
  color: var(--titleColor);
}

.ele-dclock-container .ele-dclock.light-style-preset .time .cell-cont {
  background: #eee;
}

.ele-dclock-container .ele-dclock.light-style-preset .time .cell-cont .stag, .ele-dclock-container .ele-dclock.light-style-preset .time .cell-cont .htag, .ele-dclock-container .ele-dclock.light-style-preset .time .cell-cont .mtag {
  background: rgba(255, 255, 255, 0.2);
}

.ele-dclock-container .ele-dclock.light-style-preset .time .cell-cont * {
  color: #333;
  font-family: inherit;
  font-weight: inherit;
}

.ele-dclock-container .ele-dclock.dark-style-preset .clock-title {
  color: var(--titleColor);
}

.ele-dclock-container .ele-dclock.dark-style-preset .time .cell-cont {
  background: #333;
}

.ele-dclock-container .ele-dclock.dark-style-preset .time .cell-cont * {
  color: #eee;
  font-family: inherit;
  font-weight: inherit;
}

.ele-dclock-container .ele-dclock.dark-style-preset .time .cell-cont.scont {
  background: #333;
}

.ele-dclock-container .ele-dclock.dark-style-preset .time .cell-cont .stag, .ele-dclock-container .ele-dclock.dark-style-preset .time .cell-cont .htag, .ele-dclock-container .ele-dclock.dark-style-preset .time .cell-cont .mtag {
  background: rgba(255, 255, 255, 0.2);
}

.ele-dclock-container .clock-02 {
  --clockBackground: #4455f1;
  --cellBackground: #1f57be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ele-dclock-container .clock-02 .clock-title {
  position: relative;
  display: block;
  text-align: center;
  margin: 10px 0;
  font-weight: 200;
  color: var(--titleColor);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 25px;
  width: 100%;
  z-index: 10;
}

.ele-dclock-container .clock-02 .ele-dclock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--clockBackground);
  padding: 2.5rem 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  gap: 5px;
}

.ele-dclock-container .clock-02 .ele-dclock .cell-cont {
  width: 110px;
  text-align: center;
  background: var(--cellBackground);
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.ele-dclock-container .clock-02 .ele-dclock .cell-cont .cell {
  padding: 5px 0;
  font-size: 50px;
  color: var(--fontColor);
}

.ele-dclock-container .clock-02 .ele-dclock .cell-cont .tag {
  font-size: 14px;
}

.ele-dclock-container .clock-02 .ele-dclock * {
  color: var(--fontColor);
  font-family: 'Poppins-eledc', sans-serif;
  font-weight: 200;
}

.ele-dclock-container .clock-02.glass-style-preset {
  position: relative;
}

.ele-dclock-container .clock-02.glass-style-preset .clock-title {
  color: var(--titleColor);
}

.ele-dclock-container .clock-02.glass-style-preset * {
  font-family: 'Poppins-eledc', sans-serif;
  color: var(--fontColor);
  font-weight: 200;
}

.ele-dclock-container .clock-02.glass-style-preset .am-tag {
  font-size: 14px;
}

.ele-dclock-container .clock-02.glass-style-preset .dot {
  font-size: 60px;
}

.ele-dclock-container .clock-02.glass-style-preset .cell-cont {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px #ffffff55 solid;
}

.ele-dclock-container .clock-02.glass-style-preset .ele-dclock {
  --fontColor: #fff;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px #ffffff55 solid;
}

.ele-dclock-container .clock-02.dark-style-preset .clock-title {
  color: var(--titleColor);
}

.ele-dclock-container .clock-02.dark-style-preset * {
  font-family: 'Poppins-eledc', sans-serif;
  color: var(--fontColor);
  font-weight: 200;
}

.ele-dclock-container .clock-02.dark-style-preset .dot {
  font-size: 60px;
}

.ele-dclock-container .clock-02.dark-style-preset .am-tag {
  font-size: 20px;
}

.ele-dclock-container .clock-02.dark-style-preset .cell-cont {
  background: #222;
  border: rgba(255, 255, 255, 0.2) solid 1px;
}

.ele-dclock-container .clock-02.dark-style-preset .ele-dclock {
  border: rgba(255, 255, 255, 0.2) solid 1px;
  --fontColor: #fff;
  background: #333;
}

.ele-dclock-container .clock-02.light-style-preset .clock-title {
  color: var(--titleColor);
}

.ele-dclock-container .clock-02.light-style-preset * {
  font-family: 'Poppins-eledc', sans-serif;
  color: var(--fontColor);
  font-weight: 200;
}

.ele-dclock-container .clock-02.light-style-preset .dot {
  font-size: 60px;
}

.ele-dclock-container .clock-02.light-style-preset .am-tag {
  font-size: 20px;
}

.ele-dclock-container .clock-02.light-style-preset .cell-cont {
  background: #fefefe;
  border: rgba(255, 255, 255, 0.2) solid 1px;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.ele-dclock-container .clock-02.light-style-preset .ele-dclock {
  border: rgba(255, 255, 255, 0.2) solid 1px;
  --fontColor: #202020;
  background: #f6f6f6;
}

.ele-dclock-container .clock-03 {
  --clockBackground: #6978cd;
  --cellBackground: #685cb5;
  --hColor: rgb(255, 39, 89);
  --mColor: rgb(255, 172, 39);
  --sColor: rgb(183, 255, 39);
  --cellSize: 150px;
}

.ele-dclock-container .clock-03.glass-style-preset .ele-dclock {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px #ffffff55 solid;
}

.ele-dclock-container .clock-03.glass-style-preset .ele-dclock .cell-cont svg circle {
  fill: rgba(255, 255, 255, 0.1);
  stroke: #ffffff19;
  stroke-width: 2px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.ele-dclock-container .clock-03.glass-style-preset .ele-dclock .cell-cont svg circle:nth-child(2) {
  fill: none;
}

.ele-dclock-container .clock-03.dark-style-preset .ele-dclock {
  background: #222;
  border: 1px #ffffff55 solid;
}

.ele-dclock-container .clock-03.dark-style-preset .ele-dclock .cell-cont svg circle {
  fill: #444;
  stroke: #666;
  stroke-width: 2px;
}

.ele-dclock-container .clock-03.dark-style-preset .ele-dclock .cell-cont svg circle:nth-child(2) {
  fill: none;
}

.ele-dclock-container .clock-03.light-style-preset .ele-dclock {
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#efefef));
  background: linear-gradient(#fafafa, #efefef);
  border: 1px #ddd solid;
  color: #222;
}

.ele-dclock-container .clock-03.light-style-preset .ele-dclock .cell-cont svg {
  position: relative;
  border-radius: 50%;
  padding: 0;
  height: 150px;
  width: 150px;
}

.ele-dclock-container .clock-03.light-style-preset .ele-dclock .cell-cont svg::before {
  content: '';
  width: 150px;
  height: 150px;
  background: #127fd6;
  position: absolute;
  top: 0;
}

.ele-dclock-container .clock-03.light-style-preset .ele-dclock .cell-cont svg circle {
  fill: transparent;
  stroke: #dfdfdf;
  stroke-width: 2px;
}

.ele-dclock-container .clock-03.light-style-preset .ele-dclock .cell-cont svg circle:nth-child(2) {
  fill: #fff;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.ele-dclock-container .clock-03.light-style-preset .ele-dclock .am-tag {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  color: #333;
}

.ele-dclock-container .clock-03 .clock-title {
  position: relative;
  display: block;
  text-align: center;
  margin: 10px 0;
  font-weight: 200;
  color: var(--titleColor);
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 20px;
  width: 100%;
  z-index: 10;
}

.ele-dclock-container .clock-03 * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ele-dclock-container .clock-03 .ele-dclock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--clockBackground);
  gap: 40px;
  color: var(--fontColor);
  padding: 30px;
  position: relative;
  border-radius: 20px;
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont {
  position: relative;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont svg {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont svg circle {
  width: 100%;
  height: 100%;
  fill: var(--cellBackground);
  stroke: #191919;
  stroke-width: 3;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont svg circle:nth-child(2) {
  stroke-dasharray: 440;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont svg circle.hh:nth-child(2) {
  stroke: var(--hColor);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont svg circle.mm:nth-child(2) {
  stroke: var(--mColor);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont svg circle.ss:nth-child(2) {
  stroke: var(--sColor);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont .cell-data {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont .cell-data .cell {
  font-weight: 200;
  position: relative;
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont .cell-data .tag {
  position: relative;
  text-transform: uppercase;
  font-weight: 200;
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont .dot {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont .dot.hr_dot::before {
  background: var(--hColor);
  -webkit-box-shadow: 0 0 20px var(--hColor), 0 0 40px var(--hColor);
          box-shadow: 0 0 20px var(--hColor), 0 0 40px var(--hColor);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont .dot.min_dot::before {
  background: var(--mColor);
  -webkit-box-shadow: 0 0 20px var(--mColor), 0 0 40px var(--mColor);
          box-shadow: 0 0 20px var(--mColor), 0 0 40px var(--mColor);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont .dot.sec_dot::before {
  background: var(--sColor);
  -webkit-box-shadow: 0 0 20px var(--sColor), 0 0 40px var(--sColor);
          box-shadow: 0 0 20px var(--sColor), 0 0 40px var(--sColor);
}

.ele-dclock-container .clock-03 .ele-dclock .cell-cont .dot::before {
  content: '';
  position: absolute;
  top: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.ele-dclock-container .clock-03 .ele-dclock div {
  position: absolute;
  text-align: center;
}

.ele-dclock-container .clock-03 .ele-dclock .am-tag {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(--fontColor);
}
/*# sourceMappingURL=eledClock_style.css.map */