@font-face {
    font-family: 'Poppins-eledc';
    src: url('../font/Poppins-Light.woff');
}

html{
    --hmcont: #2196f3;
    --scont: #ff006a;
    --hmtag: #127fd6;
    --stag: #cc0055;
    --fillterBlur: 0;
    --showBackGround: hidden;
    --backgroundFigureBorderRadius: 100px;
    --fontColor: #fff;
    --titleColor: #333;
}



.ele-dclock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    width: 100%;
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins-eledc', sans-serif;
        font-weight: 200;
    }
    .ele-dclock{
        width: fit-content;
	    transition: all .3s linear 0s;
        h2{
            position: relative;
            display: block;
            text-align: center;
            margin: 10px 0;
            font-weight: 300;
            color: #333333;
            text-transform: uppercase;
            letter-spacing: 0.4em;
            font-size: 0.8em;
            width: 100%;
            z-index: 10;
        }
        .time{
            display: flex;
            justify-content: center;
            width: 100%;
            --hmcont: #2196f3;
            --scont: #ff006a;
            --hmtag: #127fd6;
            --stag: #cc0055;
            --fillterBlur: 0;
            --showBackGround: hidden;
            --backgroundFigureBorderRadius: 100px;
            --fontColor: #fff;
            &::after{
                visibility: var(--showBackGround);
                content: "";
                z-index: inherit;
                background: #ff006a;
                height: 150px;
                width: 150px;
                aspect-ratio: 1;
                border-radius: var(--backgroundFigureBorderRadius);
                position: absolute;
                top: 0;
                left: 0;
                animation: back_circles  random(10) +s ease-in-out infinite;
            }
            &::before{
                visibility: var(--showBackGround);
                content: "";
                background: #127fd6;
                height: 100px;
                width: 100px;
                aspect-ratio: 1;
                border-radius: var(--backgroundFigureBorderRadius);
                position: absolute;
                bottom: 0;
                right: 0;
                animation: back_circles 5s ease-in-out infinite;
            }
            .cell-cont{
                z-index: 5;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                height: 100%;
                position: relative;
                margin: 0 5px;
                -webkit-box-reflect: below 0px linear-gradient(transparent 30%, #0004);
                background: var(--hmcont);
                width: 150px;
                &.glass-style-preset{
                    background: rgba($color: #fff, $alpha: 0.2);
                    border: 1px solid rgba($color: #fff, $alpha: 0.15);
                    border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
                    border-left: 1px solid rgba($color: #fff, $alpha: 0.5);
                    backdrop-filter: blur(25px);
                    
                    &.scont{
                        background: rgba($color: #fff, $alpha: 0.2);
                    }
                    .stag, .htag, .mtag{
                        background: rgba($color: #fff, $alpha: 0.2);
                        backdrop-filter: blur(25px);
                    }
                    *{
                        color: #fff;
                    }
                }
                &.light-style-preset{
                    background: #eee;
                    .stag, .htag, .mtag{
                        background: rgba($color: #fff, $alpha: 0.2);
                    }
                    &.scont{
                        background: #eee;
                    }
                    *{
                        color: #333333;
                    }
                }
                &.dark-style-preset{
                    background: #333;
                    *{
                        color: #eee;
                    }
                    &.scont{
                        background: #333;
                    }
                    .stag, .htag, .mtag{
                        background: rgba($color: #fff, $alpha: 0.2);
                    }
                }
                &.scont{
                    background: var(--scont);
                }
                .tag{
                    color: var(--fontColor);
                }
                .cell{
                    padding: 1rem 1rem;
                    text-align: center;
                    color: var(--fontColor);
                    font-size: 3em;
                    vertical-align: middle;
                    &.hour{
                        span{
                            background-color: transparent;
                            padding: .5rem;
                            height: fit-content;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    &.second{
                        transform: scale(1.2);
                    }
                }
                .stag, .htag, .mtag{
                    vertical-align: middle;
                    width: 100%;
                    background: var(--hmtag);
                    text-align: center;
                    flex: auto;
                }
                .stag{
                    background: var(--stag);
                }
            }
        }
    }

    &.clock-02{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            position: relative;
            display: block;
            text-align: center;
            margin: 10px 0;
            font-weight: 300;
            color: #333333;
            text-transform: uppercase;
            letter-spacing: 0.4em;
            font-size: 1.5em;
            width: 100%;
            z-index: 10;
        }
        .ele-dclock{
            display: flex;
            background: rgba($color: #fff, $alpha: 0.2);
            backdrop-filter: blur(24px);
            padding: 2.5rem 2.5rem;
            width: fit-content;
            border: 1px #ffffff55 solid;
            border-radius: 10px;
            gap: 5px;
            *{
                color: #fff;
            }
            div{
                
                font-size: 80px;
                color: #fff;
            }
            .cell-cont{
                //padding: .2rem 1rem;
                font-size: 80px;
                background: rgba($color: var(--hmcont), $alpha: 0.1);
                backdrop-filter: blur(var(--fillterBlur));
                border: 1px #ffffff55 solid;
                border-radius: 10px;
                width: 150px;
                text-align: center;
                .tag{
                    font-size: 25px;
                }
                div{
                    color: #fff;
                }
            }
        }
    }
}


@keyframes seconds_anim {
    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(1);
    }
    95%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

@keyframes back_circles {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

