@font-face {
    font-family: 'Poppins-eledc';
    src: url('../font/Poppins-Light.woff');
}

.wn-dclock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    width: 100%;
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins-eledc', sans-serif;
        font-weight: 200;
    }
    .wn-dclock{
        width: fit-content;
        h2{
            position: relative;
            display: block;
            text-align: center;
            margin: 10px 0;
            font-weight: 300;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.4em;
            font-size: 0.8em;
            width: 100%;
        }
        #time{
            display: flex;
            justify-content: center;
            width: 100%;
            .cell-cont{
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                height: 100%;
                position: relative;
                margin: 0 5px;
                background: #2196f3;
                -webkit-box-reflect: below 0px linear-gradient(transparent, #0004);
                &#scont{
                    background: #ff006a;
                }
                .cell{
                    padding: 0 1rem;
                    text-align: center;
                    color: #fff;
                    font-size: 3em;
                    vertical-align: middle;
                    &#hour{
                        span{
                            background-color: transparent;
                            padding: .5rem;
                            height: fit-content;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    &#second{
                        transform: scale(1.2);
                        animation: seconds_anim 1s infinite;
                    }
                }
                #stag, #htag, #mtag{
                    vertical-align: middle;
                    width: 100%;
                    background: #127fd6;
                    text-align: center;
                    flex: auto;
                }
                #stag{
                    background: #cc0055;
                }
            }
        }
    }
}
@keyframes seconds_anim {
    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(1);
    }
    95%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}